body, .navbar a, footer a {
  font-family: "Roboto";
  color: #f6ba8c;
  font-weight: bold;
}

body {
  padding-bottom: 70px;
  height: 100%;
}
.container-main {
  margin: 0 2% 0 2%;
}
.navbar-brand {
  font-size: 150%;
}
.container {
  padding: 2% 8% 2% 2%;
}

#eri {
  max-width: 78%;
}

#home-container{
  display: flex;
}

#home-sub-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.form-control {
  max-width: 50%;
}

.list-group-item {
  max-width: 50%;
}

.navbar, footer {
  background-color: #8CA7F6;
  font-size: 130%;
  height: 70px;
  font-weight: bold;
  text-shadow: 1px 1px rgb(57, 95, 210);
}

.btn {
  border: none;
  text-shadow: 1px 1px rgb(57, 95, 210);
  background-color: #B8C9FC;
}

.btn:hover, .btn:focus, .btn:active {
  background-color: rgb(57, 95, 210) !important;
}

a {
  color: #456BDD
}

.alert {
  background-color: #6BCBBA;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.icon-bar {
  color: #f6ba8c !important;
}

@media (max-width: 450px) {

  .navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }

  footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  #home-container{
    width: 100%
  }

  #home-sub-container {
    display: none;
  }

  #eri {
    max-width: 110%;
  }
}
