body, .navbar a, footer a {
  font-family: "Roboto";
  color: #f6ba8c;
  font-weight: bold;
}

.navbar-brand {
  font-size: 150%;
}
.container {
  padding: 2% 8% 2% 2%;
}

#home-container{
  display: flex;
  /* justify-content: center; */
}

#home-sub-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.form-control {
  max-width: 50%;
}

.list-group-item {
  max-width: 50%;
}

.navbar, footer {
  background-color: #8CA7F6;
  font-size: 130%;
  height: 80px;
  font-weight: bold;
  text-shadow: 1px 1px rgb(57, 95, 210);
}

.btn {
  border: none;
  text-shadow: 1px 1px rgb(57, 95, 210);
  background-color: #B8C9FC;
}

.btn:hover, .btn:focus, .btn:active {
  background-color: rgb(57, 95, 210);
}

a {
  color: #456BDD
}

.alert {
  background-color: #6BCBBA;
}
